//
//  COLORS
//––––––––––––––––––––––––––––––––––––––––––––––––––

$color_white: #ffffff;
$color_black: #000000;
$color_gray: #666666;
$color_gray_dk: #3f3f3f;
$color_gray_md: #706f6f;
$color_gray_lt: #909090;

//
//  MEDIA QUERIES
//––––––––––––––––––––––––––––––––––––––––––––––––––

$device-orientations: (
        p: portrait,
        l: landscape
);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 812px,
        lg: 992px,
        xl: 1200px
);


//
//  BLOCK SIZES
//––––––––––––––––––––––––––––––––––––––––––––––––––
$header-height: 85px;
$header-height-mobile: 60px;