


// STYLES
body {
  font-family: 'FrutigerLTCYR' !important;
}

a:focus,
img:focus,
button:focus {
  outline: none;
}

@import "components/sticky-header";
@import "components/overlay-nav";
@import "components/lightslider";
@import "components/header";
@import "components/top-slider";
@import "components/counter-bar";
@import "components/offers-bar";


main {
  //max-width: 1560px;
  margin: 0 auto;
  position: relative;

  @include mobile-portrait() {
    margin-top: $header-height-mobile;
  }
  @include mobile-landscape() {
    margin-top: $header-height-mobile;
  }

  .slider-bar {
    position: relative;

    .gradient-box {
      background-image: radial-gradient(ellipse at 75% top, $color_white 10%, transparent 60%, transparent 100%);
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 140px;
      z-index: 75;

      @include mobile-portrait() {
        display: none;
      }
      @include mobile-landscape() {
        display: none;
      }
      @include tablet-portrait() {
        display: none;
      }
      @include tablet-landscape() {
        display: none;
      }
    }

    .slider {

      &.preload {
        opacity: 0;
      }
    }
  }

  .next-screen {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 0;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("/img/next-section-bg.svg");
      height: 62px;
      width: 151px;
      &:hover {
        svg {
          animation: secondScreenBtnAnimation 2s infinite;
          position: relative;
        }
      }
    }
  }




  .catalog-bar {

    padding: 40px 0;

    @include media-breakpoint-down (sm) {
      padding: 0;
      margin-bottom: 10px;
    }

    &__navbar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media-breakpoint-down (sm) {
        flex-direction: column;
        align-items: left;
      }

      &__title {
        min-width: 282px;
        height: 70px;
        font-size: 28px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: normal;
        text-align: left;
        color: $color_black;
        text-transform: uppercase;
        padding: 22px 0;
        position: relative;

        @include media-breakpoint-down (sm) {
          height: auto;
          min-width: auto;
          font-size: 20px;
          margin-left: 40px;
          margin-right: 40px;
          padding: 0;
          margin-bottom: 10px;
        }

        &:before {
          position: absolute;
          content: '';
          width: 500px;
          height: 1px;
          object-fit: contain;
          border-top: solid 1px #9b9b9b;
          left: -520px;
          top: calc(50% - 1px);
        }
      }

      &__menu {
        max-width: 100%;
        overflow: hidden;
        overflow-x: hidden;
        overflow-x: auto;

        @include media-breakpoint-down (sm) {
          display: none;
        }

        ul {
          padding: 0;
          margin: 0;
          display: inline-flex;

          li {
            list-style: none;
            padding: 10px 16px;
            cursor: pointer;

            a {
              font-size: 14px;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: 1px;
              text-align: left;
              text-decoration: none;
              text-transform: uppercase;
              color: $color_gray_lt;
              position: relative;
              display: block;
              transition: color 0.6s ease;

              @include underline(3px,
                      0 auto,
                      #000);
            }
            &:hover a,
            & .active {
              color: $color_black;

              &:after {
                width: 100%;
                opacity: 1;
              }
            }
          }
        }
      }

      &__dropdown {
        display: none;
        margin: 10px 0;

        @include media-breakpoint-down (sm) {
          display: block;
        }

        .btn {
          border-color: $color_gray_lt;
          color: $color_gray_dk;
          border-radius: 0;
          padding: 12px 24px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 1px;
          box-shadow: none;

          &:hover, &:active {
            background-color: $color_gray_lt;
            color: $color_white;
          }
        }

        .dropdown-item {
          cursor: pointer;
          &.active, &:active {
            background-color: $color_gray_lt;
          }
          a {
            display: block;
          }
        }
      }

      &__link {
        .button {
          width: 180px;
          margin: 0;
          @include media-breakpoint-down (sm) {
            margin: 0 auto;
          }
        }
      }
    }

    &_content {
      padding: 40px 0 0;

      @include media-breakpoint-down (sm) {
        padding: 20px 0 0;
      }

      .slideset {
        position: relative;

        .fade {
          display: none;

          &.show {
            display: block;
          }
        }

        &__content {
          width: 100%;

          .slide {
            min-height: 600px;

            @include media-breakpoint-down (sm) {
              min-height: 220px;

              img {
                height: 220px;
                width: 100vw;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }

  .about-bar {

    padding: 40px 0;

    @include media-breakpoint-down (sm) {
      padding: 30px 0;
    }

    &__navbar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__title {
        min-width: 360px;
        height: 70px;
        font-size: 28px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: normal;
        text-align: left;
        color: $color_black;
        text-transform: uppercase;
        padding: 22px 0;
        position: relative;

        @include media-breakpoint-down (sm) {
          height: auto;
          min-width: auto;
          font-size: 20px;
          margin-left: 40px;
          margin-right: 40px;
          padding: 0;
          margin-bottom: 10px;
        }

        &:before {
          position: absolute;
          content: '';
          width: 500px;
          height: 1px;
          object-fit: contain;
          border-top: solid 1px #9b9b9b;
          left: -520px;
          top: calc(50% - 1px);
        }
      }
    }

    &__content {
      padding: 40px 0 0;

      @include media-breakpoint-down (sm) {
        padding: 10px 0 0;
      }

      &__heading {
        position: relative;

        @include media-breakpoint-down (sm) {
          margin-bottom: 20px;
          display: none;
        }

        &__image {
          width: 320px;
          height: 320px;
          object-fit: contain;
        }

        &__title {
          min-width: 410px;
          height: 192px;
          font-size: 42px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.14;
          letter-spacing: normal;
          text-align: left;
          text-transform: uppercase;
          color: #322d27;
          position: absolute;
          left: 147px;
          top: 75px;
        }
        &__link {
          text-transform: uppercase;
          font-family: Cousine;
          margin-top: 30px;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 1px;
          text-align: left;
          color: $color_black;

          @include media-breakpoint-down (sm) {
            margin-top: 20px;
            text-align: justify;
            text-align-last: justify;
          }
        }
      }

      &__row {

        @include media-breakpoint-down (sm) {
          margin: 0 0 20px;
        }

        &__features {
          padding-left: 85px;

          @include media-breakpoint-down (sm) {
            padding-left: 0;
          }
        }

        &__feature {
          text-align: center;
          margin: 45px 0;
          min-height: 260px;

          @include media-breakpoint-down (sm) {
            margin: 0;
            height: 250px;
            padding: 20px;
            position: relative;

            &:before {
              position: absolute;
              content: '';
              top: 0;
              bottom: 0;
              left: 20px;
              right: 20px;
              border: 1px solid $color_gray_lt;
            }

          }

          svg {
            fill: $color_black;
          }

          .value {
            font-size: 48px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $color_black;
            margin: 25px 0 0;
          }

          .desc {
            font-size: 14px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.29;
            letter-spacing: normal;
            text-align: center;
            color: $color_gray;
            margin: 10px 0;
          }
        }
      }

      &__text {
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #322d27;
        margin-left: 12px;

        @include media-breakpoint-down (sm) {
          font-size: 14px;
          margin-left: 0;
        }
      }

      &__video {
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: center;
        color: $color_gray_lt;
        width: 245px;
        margin-left: 80px;

        @include media-breakpoint-down (sm) {
          margin-left: 0;
          width: auto;
        }

        a {
          color: $color_gray_lt;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          justify-content: space-between;
          text-decoration: none;
          @include transition;

          .btn-play {
            width: 54px;
            height: 54px;
            object-fit: contain;
            stroke: $color_gray_lt;
            @include transition;
          }
        }

        &:hover a {
          text-decoration: none;
          color: #000;
          .btn-play {
            transform: scale(1.1);
            stroke: $color_black;
            stroke-width: 6px;
          }
        }
      }

      .lSPager {
        display: none;
      }
    }
  }

  .follow-bar {
    background-color: #f5f5f5;
    text-align: center;

    @include media-breakpoint-down (sm) {

      .container {
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
      }

      &__topline {
        border-top: 20px solid #FFF;

        & .follow-bar__title:after {
          transform: rotate(180deg);
        }
      }
    }

    .container {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
    }

    &__title {
      font-size: 21px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: left;
      color: $color_black;
      margin: 52px 0 52px 28px;
      position: relative;

      @include media-breakpoint-down (sm) {
        font-size: 18px;
        margin: 20px 40px 20px 20px;
        position: relative;
        cursor: pointer;

        span {
          padding-right: 60px;
        }

        &:after {
          content: '';
          display: block;
          width: 25px;
          height: 15px;
          background-image: url("/img/arrow-down.svg");
          position: absolute;
          top: calc(50% - 7px);
          right: 0;
          @include transition;
        }
      }
    }

    &__form {
      display: inline-flex;
      margin-left: 65px;

      @include media-breakpoint-down (sm) {
        flex-direction: column;
        margin-left: 0;
        width: 100%;
      }
    }
  }

  .constructor-bar {

    padding: 40px 0 80px;
    @include media-breakpoint-down (sm) {
      padding: 30px 0;
    }

    &__navbar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__title {
        min-width: 360px;
        height: 70px;
        font-size: 28px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: normal;
        text-align: left;
        color: $color_black;
        text-transform: uppercase;
        padding: 22px 0;
        position: relative;

        @include media-breakpoint-down (sm) {
          height: auto;
          min-width: auto;
          font-size: 20px;
          margin-left: 40px;
          margin-right: 40px;
          padding: 0;
          margin-bottom: 10px;
        }

        &:before {
          position: absolute;
          content: '';
          width: 500px;
          height: 1px;
          object-fit: contain;
          border-top: solid 1px #9b9b9b;
          left: -520px;
          top: calc(50% - 1px);
        }
      }
    }

    &__content {
      padding: 40px 0 0;

      @include media-breakpoint-down (sm) {
        padding: 10px 0 0;
      }

      &__text {
        width: 300px;
        height: 100px;
        font-size: 21px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: left;
        color: $color_gray;
        margin: 31px 0 38px;

        @include media-breakpoint-down (sm) {
          width: auto;
          height: auto;
          font-size: 14px;
          line-height: 1.57;
          margin: 0 0 20px;
        }
      }

      &__list {

        @include media-breakpoint-down (sm) {
          display: none;
        }

        ul {
          padding-left: 0px;
          margin-bottom: 50px;

          @include media-breakpoint-down (sm) {
            margin-bottom: 20px;
          }

          li {
            list-style: none;
            margin-bottom: 25px;
            margin-left: 50px;
            position: relative;
            @include media-breakpoint-down (sm) {
              margin-left: 20px;
            }

            &:before {
              position: absolute;
              content: '';
              width: 27px;
              height: 1px;
              border-top: 1px solid $color_gray;
              left: -47px;
              top: 10px;
              @include transition;
            }

            a {
              font-size: 18px;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.28;
              letter-spacing: normal;
              text-align: left;
              color: $color_gray;
              @include transition;
            }

            &:hover {
              &:before {
                left: -57px;
              }
              a {
                text-decoration: none;
                color: #000;
              }
            }
          }
        }
      }

      &__link {
        display: flex;
        justify-content: flex-end;
        padding-right: 130px;
        position: relative;
        left: -15px;

        @include media-breakpoint-down (sm) {
          padding: 0;
          margin: 20px auto 0;
          width: 100%;
          justify-content: center !important;
          align-items: center;
          left: auto;
        }

        &:after {
          position: absolute;
          content: '';
          width: 208px;
          height: 1px;
          background: #9b9b9b;
          right: -45px;
          top: calc(50% - 1px);

          @include media-breakpoint-down (sm) {
            display: none;
          }
        }

        .button {
          position: relative;
        }
      }
    }
  }


  .slideset {

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
      }
    }

    &__content {
      overflow: hidden;
      position: relative;

      .slides {
        display: flex;
        flex-flow: row nowrap;
        position: relative;
        transition: left 0.6s ease;
      }
    }

    .slides {

      .slide {
        min-height: 416px;

        @include media-breakpoint-down (sm) {
          min-height: auto;
          margin-bottom: 10px;
        }

        &__title {
          padding: 26px 0;
          font-size: 17px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: $color_gray;

          @include media-breakpoint-down (sm) {
            display: none;
          }
        }
      }
    }

  }

  .slide {
    position: relative;
    text-align: center;
  }

  .lSPager {
    @extend %lSPager;
  }
}

footer {
  padding: 80px 0 0;

  @include media-breakpoint-down (sm) {
    padding: 0px 0 30px;
  }

  .footer-top {
    border: 1px solid $color_gray_lt;
    border-left: none;
    border-right: none;
    padding: 14px 0;
    margin-bottom: 40px;
    font-family: FrutigerLTCYR-Roman !important;

    @include media-breakpoint-down (sm) {
      margin-bottom: 0;
      border-bottom: 0;
    }

    .container {
      max-width: 1190px;
    }

    .row {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: $color_gray_lt;

      .address {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: left;
        color: $color_gray_md;
      }

      .phone {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: $color_black;
        margin-bottom: 10px;
        position: relative;

        @include underline (1px,
                0,
                #000);

        &:after {
          position: absolute;
          bottom: -2px;
          left: 0;
        }
      }

      .email {
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: $color_black;
        margin-bottom: 10px;
        position: relative;

        @include underline (1px,
                0,
                #000);

        &:after {
          position: absolute;
          bottom: -2px;
          left: 0;
        }
      }

      .sub {
        display: block;
        margin-top: 8px;
      }
    }
  }

  .footer-menu {
    margin-bottom: 80px;

    @include media-breakpoint-down (sm) {
      margin-bottom: 0;

      & .row > div:last-child .label {
        border-bottom: 1px solid #d7d7d7;
      }
    }

    .container {
      max-width: 1190px;
    }

    .label {
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.1px;
      text-align: left;
      text-transform: uppercase;
      color: $color_black;
      margin-bottom: 20px;

      @include media-breakpoint-down (sm) {

        border-top: 1px solid #d7d7d7;
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 10px;
        position: relative;
        opacity: 0.24;
        cursor: pointer;

        &:after {
          content: '';
          display: block;
          width: 15px;
          height: 9px;
          background-image: url("/img/arrow-down-sm.svg");
          position: absolute;
          top: calc(50% - 7px);
          right: 10px;
          transform: rotateX(180deg);
          @include transition;
        }

        &.collapsed {
          opacity: 1;

          &:after {
            transform: rotateX(0deg);
          }
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;

      @include media-breakpoint-down (sm) {
        padding-bottom: 10px;
      }

      li {
        list-style: none;
        padding: 10px 0;

        a {
          font-size: 13px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.38;
          letter-spacing: 0.1px;
          text-align: left;
          color: $color_gray;

          @include transition;

          &:hover {
            color: $color_black;
          }
        }
      }
    }
  }

  .footer-soc {
    margin-bottom: 40px;
    @include media-breakpoint-down (sm) {
      margin-bottom: 20px;
    }

    .container {
      border: 1px solid $color_gray_lt;
      border-left: none;
      border-right: none;
      padding-top: 28px;
      max-width: 1160px;

      @include media-breakpoint-down(sm) {
        border-top: none;
      }

      .row {
        > div {
          margin: 0 40px 28px;

          @include media-breakpoint-down(sm) {
            margin: 0 0 28px;
            padding: 0 25px;
          }
        }
      }
    }

    a {
      svg {
        fill: $color_gray_lt;
      }

      &:hover {
        svg {
          @include transition;
          transform: scale(1.15);
          fill: darken($color_gray_lt, 10%);
        }
      }
    }

  }

  .footer-copy {
    margin-bottom: 100px;
    font-family: FrutigerLTCYR-Roman !important;
    color: $color_gray;

    @include media-breakpoint-down (sm) {
      margin-bottom: 40px;
      font-size: 14px;
    }

    .container {
      max-width: 1190px;
    }

    a {
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: center;
      color: $color_black;
      text-decoration: underline;
    }
  }
}

/* CONTAINER RESET */

.container {
  //max-width: 1315px;
  max-width: 1280px;

  @include media-breakpoint-down (sm) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* NAVIGATOR COMPONENT */

.navigator {
  position: relative;
  width: auto;
  z-index: 10;

  ul {
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    width: auto;
    list-style: none;
    margin: 0;

    @include media-breakpoint-down (sm) {
      justify-content: center;
    }

    li {
      display: block;

      a {
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        width: 30px;
        height: 36px;
      }

      .prev {
        background-image: url("/img/arrow-left.svg");
        @include media-breakpoint-down (sm) {
          display: none;
        }
      }
      .next {
        background-image: url("/img/arrow-right.svg");
        @include media-breakpoint-down (sm) {
          display: none;
        }
      }
      .page {
        background-image: url("/img/bullet-inactive.svg");

        &.active {
          background-image: url("/img/bullet-active.svg");
        }
      }
    }
  }
}

/* FORM COMPONENT */

.form {
  @include media-breakpoint-down (sm) {
    padding: 0 20px;
  }
  &__group {
    &__control {
      width: 220px;
      height: 50px;
      border-radius: 4px;
      background-color: $color_white;
      border: solid 1px #e3dcd3;
      padding: 0 20px;
      margin: 10px 20px;
      overflow: hidden;
      font-size: 16px;
      font-weight: 300;
      line-height: 2.5rem;

      @include media-breakpoint-down (sm) {
        width: 100%;
        margin: 0 0 10px;
      }
      @include media-breakpoint-only (lg) {
        width: 184px;
        height: 50px;
        padding: 0 10px;
        margin: 10px;
        font-size: 14px;
      }

      &.file {
        position: relative;
        display: inline-block;

        input[type="file"] {
          position: relative;
          z-index: 2;
          width: 100%;
          height: 100%;
          margin: 0;
          opacity: 0;

          &:focus ~ .custom-file-control {
            border-color: #80bdff;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          }
          &:focus ~ .custom-file-control::before {
            border-color: #80bdff;
          }
        }

        .file__label {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1;
          height: 100%;
          padding: 0.375rem 1.25rem;
          line-height: 2.3rem;
          color: #495057;
          background-color: transparent;
          border: none;
          border-radius: 0.25rem;
          text-align: left;

          @include media-breakpoint-only (lg) {
            padding: 0.375rem 1rem;
          }

          &::after {
            background-image: url("/img/upload.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            top: 0;
            right: 1rem;
            bottom: 0;
            z-index: 3;
            display: block;
            height: 100%;
            padding: 0.375rem 0.6rem;
            line-height: 2.5rem;
            color: #495057;
            content: "";
            background-color: transparent;
            border: none;
            border-radius: 0 0.25rem 0.25rem 0;
          }
        }
      }

      &.select {
        display: inline-block;
        width: 200px;
        padding: 0.375rem 1.75rem 0.375rem 0.75rem;
        line-height: 1.5;
        vertical-align: middle;
        background: $color_white url("/img/arrow-down.svg") no-repeat right 0.75rem center;
        background-size: 15px 10px;
        border-radius: 0.25rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        @include media-breakpoint-down (sm) {
          width: 100%;
        }

        &[multiple],
        &[size]:not([size="1"]) {
          height: auto;
          padding-right: 0.75rem;
          background-image: none;
        }
        &:disabled {
          color: #6c757d;
          background-color: #e9ecef;
        }
        &::-ms-expand {
          opacity: 0;
        }
      }

      &.button {
        width: 200px;
        margin: 10px 20px;
        @include media-breakpoint-down (sm) {
          width: 100%;
          margin: 0 0 25px;
        }
        @include media-breakpoint-only (lg) {
          width: 180px;
          margin: 10px;

        }
      }
    }

    &:last-of-type &__control {
      margin-right: 0;
    }
  }
}

/* BUTTON COMPONENT */

.button {
  display: block;
  width: 200px;
  height: 50px;
  padding: 0;
  margin: 0 20px;
  color: $color_black;
  font-family: Cousine !important;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none !important;
  position: relative;
  cursor: pointer;
  overflow: visible;
  transition: transform 0.6s ease;
  background-color: transparent;
  border: none;
  position: relative;

  > span {
    display: block;
    height: 100%;
    background-color: $color_white;
    border: solid 1px #e3dcd3;
    border-radius: 4px;
    transition: transform 0.6s ease;
    position: relative;

    > span {
      position: absolute;
      display: block;
      width: 100%;
      transition: transform 0.6s ease;
    }
  }
  &:before,
  &:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 15px;
    background-color: #9b9b9b;
    border: none;
    z-index: 10;
  }
  &:before {
    left: 0;
    top: calc(50% - 1px);
    transition: left 0.6s ease;
  }
  &:after {
    right: 0;
    top: calc(50% - 1px);
    transition: right 0.6s ease;
  }
  &:hover {
    color: $color_black; //transform: rotateX(180deg);
    > span {
      transform: rotateX(180deg);

      > span {
        transform: rotateX(-180deg);
      }
    }

    &:before {
      left: -15px;
    }
    &:after {
      right: -15px;
    }
  }
}

/*   TOOLTIP   */

.tooltip {
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;

  .arrow:before {
    border-left: none;
  }

  .tooltip-inner {
    background-color: #9b9b9b;
    font-size: 18px;
    border-radius: 24px;
    padding: 4px 18px 6px;

  }

  &.show {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

/*  INNER PAGE   */

.inner-page {
  margin-top: 85px;
  border-top: 2px solid #d4d4d4;

  &__header {
    h1 {
      height: 72px;
      font-size: 64px;
      font-weight: 600;
      line-height: 1.13;
      letter-spacing: 1px;
      color: #322d27;
    }
  }
}

/*   breadcrumbs   */

.breadcrumbs {
  margin: 20px 0;
  ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;

    li {
      list-style: none;
      a {
        font-size: 14px;
        line-height: 1.29;
        color: $color_gray_lt;
      }

      &:after {
        content: "/";
        color: $color_gray_lt;
        display: inline-block;
        margin: 0 5px;
      }
      &.active {

        &:after {
          display: none;
        }
      }
    }
  }
}

/*  Catalog on INNER page   */

.catalog-inner-bar {

  padding: 40px 0;

  @include media-breakpoint-down (sm) {
    padding: 0;
  }

  &__navbar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;

    @include media-breakpoint-down (sm) {
      flex-direction: column;
      align-items: left;
    }

    &__title {
      height: 70px;
      font-size: 28px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: left;
      color: $color_black;
      text-transform: uppercase;
      margin-right: 60px;
      padding: 20px 0;
      position: relative;

      @include media-breakpoint-down (sm) {
        height: auto;
        min-width: auto;
        font-size: 20px;
        margin-left: 40px;
        margin-right: 40px;
        padding: 0;
        margin-bottom: 10px;
      }

      &:before {
        position: absolute;
        content: '';
        width: 500px;
        height: 1px;
        object-fit: contain;
        border-top: solid 1px #9b9b9b;
        left: -520px;
        top: calc(50% - 1px);
      }
    }

    &__menu {

      ul {
        padding: 0;
        margin: 0;
        display: inline-flex;

        li {
          list-style: none;
          padding: 10px 16px;
          cursor: pointer;

          a {
            font-size: 14px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1px;
            text-align: left;
            text-decoration: none;
            text-transform: uppercase;
            color: $color_gray_lt;
            position: relative;
            display: block;
            transition: color 0.6s ease;

            @include underline(3px,
                    0 auto,
                    #000);
          }
          &:hover a,
          & .active {
            color: $color_black;

            &:after {
              width: 100%;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &__content {
    p {
      font-size: 18px;
      margin-top: 80px;
      margin-bottom: 30px;
    }
  }

  & .button {
    margin: 0;
  }
}

.values-bar {
  font-size: 18px;

  &__title {
    height: 70px;
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: $color_black;
    text-transform: uppercase;
    margin-right: 60px;
    padding: 20px 0;
    position: relative;

    @include media-breakpoint-down (sm) {
      height: auto;
      min-width: auto;
      font-size: 20px;
      margin-left: 40px;
      margin-right: 40px;
      padding: 0;
      margin-bottom: 10px;
    }

    &:before {
      position: absolute;
      content: '';
      width: 500px;
      height: 1px;
      object-fit: contain;
      border-top: solid 1px #9b9b9b;
      left: -520px;
      top: calc(50% - 1px);
    }
  }

  &__about {
    margin-right: 100px;
    a {
      font-size: 14px;
      color: #c3c3c3;
      text-transform: uppercase;
      font-family: Cousine;
      letter-spacing: 1px;
    }
  }

  &__quote {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.22;
    position: relative;
    margin-top: 40px;
    margin-bottom: 30px;

    &:before {
      content: "";
      background-image: url("/img/combined-shape.svg");
      width: 24px;
      height: 37px;
      object-fit: contain;
      display: block;
      position: absolute;
      top: 0;
      left: -54px;
    }
    &:after {
      content: "";
      background-image: url("/img/combined-shape.svg");
      width: 24px;
      height: 37px;
      object-fit: contain;
      display: block;
      position: absolute;
      top: 0;
      right: 30px;
    }

  }

  &__text {
    margin-right: 44px;
  }

}

.tm-night {
  background-color: $color_black !important;
  color: $color_white !important;

  .wr-scroll-bar {
    .menu-button {
      .line {
        background-color: $color_white;
      }
    }
  }

  .button {
    color: $color_white;
    > span {
      background-color: $color_gray;
      border: solid 1px darken($color_gray, 10%);
    }
  }

  .nav-float {
    background-color: $color_gray;
  }

  .form__group__control {
    background-color: $color_gray;
    border-color: $color_gray;
    color: $color_white;

    &.file {
      .file__label {
        color: $color_white;
      }
    }
  }

  header {
    @include media-breakpoint-down (sm) {
      background-color: $color_gray;
    }

    .logo {
      svg {
        fill: $color_white;
      }
    }

    .phone, .email {
      color: $color_white;
      &:after {
        background-color: $color_white;
      }
    }

    svg {
      fill: $color_white;
      stroke: $color_white;
    }
  }

  main {
    .slider {
      .slide {
        .txt-bar {
          background-color: $color_gray;
          color: $color_gray_lt;

          .line-1 {
            color: $color_white;
          }
          .line-3 {
            color: $color_gray_lt;
          }

          .txt-bar-link {

            .video-button {
              stroke: $color_white !important;
            }
            &:hover {
              color: $color_white;
            }
          }

        }
      }
      &__nav {
        background-color: $color_gray_dk;
      }
    }

    .slideset {
      color: $color_gray_lt;
      a, .slide__title {
        color: $color_gray_lt;
      }
    }

    .catalog-bar__navbar__menu {
      ul {
        li {
          a {
            color: $color_gray_lt;
          }
          &:hover {
            a {
              color: $color_white;
              &:after {
                background-color: $color_white;
              }
            }
          }
          .active {
            color: $color_white;
            &:after {
              background-color: $color_white;
            }
          }
        }
      }
    }

    .slider-bar {
      .gradient-box {
        background-image: radial-gradient(ellipse at 75% top, $color_gray 10%, transparent 60%, transparent 100%);
      }
    }

    .offers-bar {
      .offer {
        &__title {
          color: $color_gray_lt;
        }
      }
    }

    .about-bar {
      &__navbar {
        &__title {
          color: $color_gray_lt;
        }
      }
      &__content {
        &__heading {
          &__title {
            color: $color_gray_lt;
          }
        }
        &__text {
          color: $color_gray_lt;
        }
        &__row {
          &__feature {
            .value, .desc {
              color: $color_gray_lt;
            }
            svg {
              fill: $color_gray_lt;
            }
          }
        }
        &__video {
          a {
            .btn-play {
              stroke: $color_white;
            }
            &:hover {
              color: $color_white;
            }
          }
        }
      }
    }

    .constructor-bar {
      &__content {
        &__text {
          color: $color_gray_lt;
        }
        &__list {
          color: $color_gray_lt;
        }
      }
    }

    .constructor-bar__navbar__title, .about-bar__navbar__title, .catalog-bar__navbar__title {
      color: $color_gray_lt;
    }

  }

  footer {
    a {
      color: $color_gray_lt;
    }

    .footer-menu {
      ul {
        li {
          a {
            color: $color_gray_lt;
          }
        }
      }
      .label {
        @include media-breakpoint-down (sm) {
          color: $color_gray_lt;
          opacity: 0.85;
          &:after {
            background-image: url("/img/arrow-down-sm-white.svg");
          }
        }
      }
    }
    .footer-top {
      .row {
        .email, .phone {
          color: $color_gray_lt;
        }
      }
    }
  }

  .follow-bar, .counter-bar {
    background-color: $color_gray_lt;
    color: $color_white;

    &__title {
      color: $color_white;
      &:before {
        border-color: $color_white;
      }
    }
  }
}