.tm-night {
  background-color: $color_black !important;
  color: $color_white !important;

  .wr-scroll-bar {
    .menu-button {
      .line {
        background-color: $color_white;
      }
    }
  }

  .button {
    color: $color_white;
    > span {
      background-color: $color_gray;
      border: solid 1px darken($color_gray, 10%);
    }
  }

  .nav-float {
    background-color: $color_gray;
  }

  .form__group__control {
    background-color: $color_gray;
    border-color: $color_gray;
    color: $color_white;

    &.file {
      .file__label {
        color: $color_white;
      }
    }
  }

  header {
    @include mobile-all() {
      background-color: $color_gray;
    }
    @include tablet-portrait() {
      background-color: $color_gray;
    }

    .logo {
      svg {
        fill: $color_white;
        stroke: transparent;
      }
    }

    .phone, .email {
      color: $color_white;
      &:after {
        background-color: $color_white;
      }
    }

    svg {
      fill: $color_white;
      stroke: $color_white;
    }
  }

  main {
    .next-screen {
      &__btn {
        background-image: url("/img/next-section-bg-black.svg");
      }
    }

    .slider {
      .slide {
        .txt-bar {
          background-color: $color_gray;
          color: $color_gray_lt;

          .line-1 {
            color: $color_white;
          }
          .line-3 {
            color: $color_gray_lt;
          }

          .txt-bar-link {

            .video-button {
              stroke: $color_white !important;
            }
            &:hover {
              color: $color_white;
            }
          }

        }
      }
      &__nav {
        background-color: $color_gray_dk;
      }

      .lSSlideOuter {
        .lSPager.lSpg {
          background-color: $color_gray_dk;
        }
      }
    }

    .slideset {
      color: $color_gray_lt;
      a, .slide__title {
        color: $color_gray_lt;
      }
    }

    .catalog-bar {
      &__navbar {
        &__menu {
          ul {
            li {
              a {
                color: $color_gray_lt;
              }
              &:hover {
                a {
                  color: $color_white;
                  &:after {
                    background-color: $color_white;
                  }
                }
              }
              .active {
                color: $color_white;
                &:after {
                  background-color: $color_white;
                }
              }
            }
          }
        }
        &__dropdown {
          .dropdown-menu {
            background-color: $color_gray_md;
            .dropdown-item {
              background-color: $color_gray_md;
              border-color: $color_gray_lt;
              &.active {
                background-color: $color_gray_lt;
              }
              a {
                color: $color_gray_ln;
              }
            }
          }
        }
      }
    }

    .follow-bar {
      background-color: $color_gray_lt;
      color: $color_white;

      @include mobile-all() {
        &__topline {
          border-top: 20px solid $color_black;
        }
      }
    }

    .slider-bar {
      .gradient-box {
        background-image: radial-gradient(ellipse at 75% top, $color_gray 10%, transparent 60%, transparent 100%);
        opacity: 0.4;
      }
    }

    .offers-bar {
      .offer {
        &__title {
          color: $color_gray_lt;
        }
      }
    }

    .about-bar {
      &__navbar {
        &__title {
          color: $color_gray_lt;
        }
      }
      &__content {
        &__heading {
          &__title {
            color: $color_gray_lt;
          }
        }
        &__text {
          color: $color_gray_lt;
        }
        &__row {
          &__feature {
            .value, .desc {
              color: $color_gray_lt;
            }
            svg {
              fill: $color_gray_lt;
            }
          }
        }
        &__video {
          a {
            .btn-play {
              stroke: $color_white;
            }
            &:hover {
              color: $color_white;
            }
          }
        }
      }
    }

    .constructor-bar {
      &__content {
        &__text {
          color: $color_gray_lt;
        }
        &__list {
          color: $color_gray_lt;
        }
      }
    }

    .constructor-bar__navbar__title, .about-bar__navbar__title, .catalog-bar__navbar__title {
      color: $color_gray_lt;
    }

  }

  footer {
    a {
      color: $color_gray_lt;
    }

    .footer-menu {
      ul {
        li {
          a {
            color: $color_gray_lt;
          }
        }
      }
      .label {
        @include mobile-all() {
          color: $color_gray_lt;
          opacity: 0.85;
          &:after {
            background-image: url("/img/arrow-down-sm-white.svg");
          }
        }
      }
    }
    .footer-top {
      .row {
        .email, .phone {
          color: $color_gray_lt;
        }
      }
    }
  }

  .follow-bar, .counter-bar {
    background-color: $color_gray_lt;
    color: $color_white;

    &__title {
      color: $color_white;
      &:before {
        border-color: $color_white;
      }
    }
  }
}