
@font-face {
  font-family: 'FrutigerLTCYR-Roman';
  src: url('FrutigerLTCYR-Roman.eot?#iefix') format('embedded-opentype'),  url('FrutigerLTCYR-Roman.woff') format('woff'), url('FrutigerLTCYR-Roman.ttf')  format('truetype'), url('FrutigerLTCYR-Roman.svg#FrutigerLTCYR-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
