//colors
$black: rgb(0,0,0);
$black_90: rgba(0,0,0, 0.9);
$white: #ffffff;
$color_gray: #3f3f3f;
$seashell: #f1f1f1;




.overlay {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  left: 0;
  top: -100%;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.6s ease; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

  .overlay-content {
    position: relative;
    top: 5%;
    width: 25%;
    margin: 0 auto;
    text-align: left;
    margin-top: 30px;

    a {
      padding: 8px;
      text-decoration: none;
      display: block;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.92;
      letter-spacing: 1px;
      text-align: left;
      text-transform: uppercase;
      color: $color_gray;
      transition: 0.6s ease;

      .counter {
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 5;
        letter-spacing: normal;
        text-align: left;
        display: inline-block;
        position: relative;
        margin-right: 30px;

        &:before {
          position: absolute;
          content: '';
          top: 50%;
          left: calc(-2050px);
          width: 2000px;
          height: 2px;
          background-color: $color_gray;
          transition: 0.6s ease;
        }
      }

      &:hover, &:focus, &.active {
        color: $white;

        .counter {
          &:before {
            background-color: $white;
          }
        }
      }
    }
  }

  .closebtn {
    position: absolute;
    top: 40px;
    right: 160px;
    font-size: 60px;
    text-decoration: none;
    color: $white;
  }
}


@media screen and(max-height: 450px) {
  .overlay {
    a {
      font-size: 20px;
    }
    .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
}